/* COMMONS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--body-background-color);
    overflow: hidden;
}

:root {
    /* colors */
    --body-background-color: #008B7C;
    --header: #E7E7E7;
    --notice-nav: #82D6FB;
    --sent-msg: #D0F8B2;

    /* sizes */
    --right-col: 65%;
}

.d-flex {
    display: flex;
}

/* CONTAINER */
.container {
    margin: 40px auto;
    width: 80%;
    height: 700px;
}

/* COL-LEFT */

.left-col {
    width: calc(100% - var(--right-col));
    background-color: white;

}

/* COL-LEFT-HEADER */

.container .header {
    background-color: var(--header);
    justify-content: space-between;
}

.container .header-left {
    align-items: center;
    padding-left: 1em;
}

.container .header .header-left img {
    height: 50px;
    border-radius: 50%;
}

.container .header .header-left h2 {
    font-size: 1em;
    padding-left: 0.5em;
}

.container .header .header-right {
    align-items: center;
    color: grey;
    padding-right: 1em;
}

.container .header .header-right i {
    padding-right: .5em;
}

/* COL-LEFT-NOTICATIONS */

.container .left-col .notices {
    background-color: var(--notice-nav);
    height: 80px;
    align-items: center;
}

.container .left-col .notices .notice-logo {
    margin-left: 1.5em;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.container .left-col .notices i {
    color: var(--notice-nav);
}

.container .left-col .notices .notice-msg {
    padding-left: 0.5em;
    flex-direction: column;
}

.container .left-col .notices .notice-msg .msg {
    text-decoration: underline;
    color: grey;
}

/* COL-RIGHT */
.right-col {
    width: var(--right-col);
    background: url(../img/mine.jpg);
}