/* COMMONS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--body-background-color);
    overflow: hidden;
}

:root {
    /* colors */
    --body-background-color: #008B7C;
    --header: #E7E7E7;
    --notice-nav: #82D6FB;
    --sent-msg: #D0F8B2;
    --active-contact: #E6E9E8;
    --bottom-main: #E6E9E8;

    /* sizes */
    --right-col: 65%;
    --header-height: 80px;
    --main-bottom-height: 80px;
}

.d-flex {
    display: flex;
}

/* CONTAINER */
.container {
    margin: 40px auto;
    width: 80%;
    height: 700px;
}

/* HEADER */

.container .header {
    background-color: var(--header);
    justify-content: space-between;
    height: var(--header-height);
}

.container .header img {
    height: 90px;
    border-radius: 50%;
    padding: .5em;
}

.container .header .header-icons i {
    padding-right: .5em;
    font-size: 20px;
}

.container .header .header-left {
    align-items: center;
    padding-left: 1em;
}

.container .header .header-icons {
    align-items: center;
    color: grey;
    padding-right: 1em;
}

/* COL-LEFT */

.left-col {
    width: calc(100% - var(--right-col));
    background-color: white;

}

/* COL-LEFT-HEADER */

.container .header .header-left h2 {
    font-size: 1em;
    padding-left: 0.5em;
}

/* COL-LEFT-NOTICATIONS */

.container .left-col .notices {
    background-color: var(--notice-nav);
    height: 80px;
    align-items: center;
}

.container .left-col .notices .notice-logo {
    margin-left: 1.5em;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.container .left-col .notices i {
    color: var(--notice-nav);
}

.container .left-col .notices .notice-msg {
    padding-left: 0.5em;
    flex-direction: column;
}

.container .left-col .notices .notice-msg .msg {
    text-decoration: underline;
    color: grey;
}

/* SEARCH-BAR LEFT-COL */

.container .left-col .search-bar {
    background-color: #F9F9F9;
    padding: .5em;
}

.container .left-col .search-bar label {
    width: 10%;
    color: lightgrey;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10px 0 0 10px;
    border-right: none;
}

.container .left-col .search-bar label i {
    vertical-align: middle;
}

.container .left-col .search-bar input {
    width: 90%;
    border: 1px solid lightgrey;
    border-radius: 0 10px 10px 0;
    border-left: none;
}

.container .left-col .search-bar label,
input {
    padding: .5em 1em;
}

/* CONTACTS */

.container .left-col .contacts-menu .contacts-list .contact.active {
    background-color: var(--active-contact);
}

.container .left-col .contacts-menu .contacts-list .contact .image-contact {
    width: 25%;
}

.container .left-col .contacts-menu .contacts-list .contact .image-contact img {
    width: 100%;
    border-radius: 50%;
}

.container .left-col .contacts-menu .contacts-list .contact .name-contact {
    padding: .5em;
    font-size: 25px;
}

/* COL-RIGHT */

.container .right-col {
    width: var(--right-col);
    background: url(../img/mine.jpg);
    flex-direction: column;
}

.container .right-col .header-left .last-access {
    color: grey;
}

/* COL-RIGHT MAIN */

.container .right-col .main-right-col {
    flex-direction: column;
    padding: 1em;
    height: calc(100% - var(--main-bottom-height) - var(--header-height));
}

/* MESSAGE */

.container .right-col .main-right-col .msg {
    flex-direction: column;
    font-size: 1.2em;
    padding: .5em;
    margin: 0.5em 0;
    border-radius: 10px;
    width: 50%;
    position: relative;
}

.container .right-col .main-right-col .msg .date {
    font-size: 0.7em;
    color: #AEB1B4;
    align-self: flex-end;
    padding: 0 0.5em 0.5em 0;
}

.sent {
    align-self: flex-end;
    background-color: var(--sent-msg);
}

.received {
    align-self: flex-start;
    background-color: white;
}

.main-right-col .msg .fa-chevron-down {
    position: absolute;
    top: 20%;
    right: 6%;
    color: #B1B1B1;
    font-size: 0.8em;
    display: none;
}

.main-right-col .msg:hover .fa-chevron-down {
    display: inline-block;
    cursor: pointer;
}

.main-right-col .menu-options {
    position: absolute;
    right: 0;
    bottom: -70%;
    width: 160px;
    background-color: #ffffff;
    box-shadow: 0px 0px 40px -15px rgba(0, 0, 0, 0.75);
    z-index: 999;
    font-size: 0.95em;
}

.drop-down-menu {
    flex-direction: column;
    align-self: flex-end;    
}

/* INPUT MESSAGE */

.container .right-col .write-msg {
    align-items: center;
    justify-content: space-around;
    height: var(--main-bottom-height);
    background-color: var(--bottom-main);
    padding: 1.5em;
}

.container .right-col .write-msg input {
    border: 0;
    width: 80%;
    padding: 1em;
    border-radius: 0.5em;
}

.container .right-col .write-msg i {
    font-size: 1.5em;
}