/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    display: block;
}

.p-15 {
    padding: 15px;
}

input {
    outline: none;
}

:root {
    /* colors */
    --body-background-color: #008B7C;
    --header: #E7E7E7;
    --notice-nav: #82D6FB;
    --sent-msg: #D0F8B2;
    --active-contact: #E6E9E8;
    --bottom-main: #E6E9E8;

    /* sizes */
    --right-col: 65%;
    --header-height: 80px;
    --main-bottom-height: 80px;
}

/* COMMONS */
.app-wrapper {
    background-color: var(--body-background-color);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 950px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-image img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.user-image.big img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.user-text {
    margin-left: 10px;
}

.user-name {
    font-size: 20px;
}

.columns-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header);
}

.header-icons i {
    padding-right: 10px;
}

/* CONTAINER */
.container {
    display: flex;
    width: 80%;
    height: 95%;
}

/* COL-LEFT */
.contacts-column {
    display: flex;
    flex-direction: column;
    width: calc(100% - var(--right-col));
    overflow: hidden;
    background-color: white;
}

/* COL-LEFT-NOTICATIONS */
.notices {
    background-color: var(--notice-nav);
    display: flex;
    align-items: center;
}

.notice-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: white;
    color: var(--notice-nav);
    border-radius: 50%;
    font-size: 25px;
}

.notice-text {
    margin-left: 15px;
}

.notice-message {
    font-weight: 800;
}

.notice-link a {
    color: grey;
}

/* COL-LEFT SEARCH-BAR */
.search-bar {
    display: flex;
    background-color: #F9F9F9;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: lightgrey;
    padding: 6px 24px;
}

.search-bar input {
    width: 100%;
    height: 35px;
    border: 0;
    padding: 5px;
}

/* COL-LEFT CONTACTS */
.contacts-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.single-contact {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    padding: 15px;
}

.single-contact:last-child {
    border-bottom: 0;
}

.single-contact.active {
    background-color: grey;
}

.single-contact .contact-info {
    display: flex;
}

.single-contact:hover {
    background-color: lightgrey;
}

.single-contact .contact-info .user-name {
    font-size: 30px;
    margin-left: 10px;
}

.single-contact .contact-info .user-text {
    font-size: 10px;
    color: lightgrey;
}

.single-contact .date-contact {
    font-size: 10px;
    color: lightgrey;
}

/* COL-RIGHT */
.chats-column {
    display: flex;
    flex-direction: column;
    background: url(../img/mine.jpg);
    overflow: hidden;
    width: var(--right-col);
}

.chats-column .columns-header {
    border-left: 1px solid lightgrey;
}

.chats-column .columns-header .user-text .name {
    font-size: 30px;
}

.chats-column .columns-header .last-access {
    font-size: 10px;
    color: grey;
}

/* CHAT */
.chats-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    padding: 60px 80px;
}

/* MESSAGE */
.chat-message {
    padding: 20px;
    background: red;
    border-radius: 10px;
    margin: 20px 0;
    max-width: 55%;
    min-width: 30%;
    position: relative;
}

.chat-message .message-date {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: grey;
    font-size: 8px;
}

.chat-message.sent {
    align-self: flex-end;
    background-color: var(--sent-msg);
}

.chat-message.received {
    align-self: flex-start;
    background-color: white;
}

.chat-message .fa-chevron-down {
    position: absolute;
    top: 10%;
    right: 5%;
    color: #B1B1B1;
    font-size: 0.8em;
    display: none;
}

.chat-message:hover .fa-chevron-down {
    display: inline-block;
    cursor: pointer;
}

.chat-message .drop-down-menu {
    position: absolute;
    right: 0;
    top: 40px;
    flex-direction: column;
    align-self: flex-end;
    width: 150px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    z-index: 999;
    font-size: 18px;
}

.chat-message .drop-down-menu .info {
    border-bottom: 1px solid black;
}

.chat-message .drop-down-menu .info,
.chat-message .drop-down-menu .delete {
    padding: 1em;
}

.chat-message .drop-down-menu .delete:hover,
.chat-message .drop-down-menu .info:hover {
    cursor: pointer;
    background-color: lightgrey;
}

/* CHATS INPUT */
.chat-bottom {
    display: flex;
    align-items: center;
    background-color: var(--bottom-main);
    padding: 15px;
}

.chat-bottom-input {
    flex-grow: 1;
    background-color: red;
}

.chat-bottom-input input {
    width: 100%;
    padding: 15px;
    border: 0;
}

.chat-bottom-icon {
    font-size: 30px;
    padding: 0 20px;
}